The purpose of this notebook is to visualize the statistics for teams in the NCAA. This can be used to visualize trends, and try out different types of derived statistics.

This first portion of the notebook is to set up the datasets with the base data. See PushTheEnvelope for more info on the initial "raw" datasets

In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
#Read in Base Datasets: 
folder = '/home/daniel/dev/marchMadness/data/2022_kaggle_vanilla/mens-march-mania-2022/MDataFiles_Stage1/'
#Seeds = pd.read_csv(folder+'MNCAATourneySeeds.csv')
#Conferences = pd.read_csv(folder+'MTeamConferences.csv')
RegularDetail = pd.read_csv(folder+'MRegularSeasonDetailedResults.csv')
#TourneyCompact = pd.read_csv(folder+'MNCAATourneyCompactResults.csv')

This is the "cleaning up" of the Regular Detail CSV. Splits it into Season Averages for more stat manipulation

In [8]:
winTeams = pd.DataFrame()
loseTeams = pd.DataFrame()

columns = ['Season', 'DayNum' ,'TeamID', 'Points', 'OppTeamID', 'OppPoints','Loc', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA','OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA','OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO','OppStl', 'OppBlk', 'OppPF']

winTeams[columns]  = RegularDetail[['Season', 'DayNum',  'WTeamID', 'WScore', 'LTeamID','LScore','WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA','WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA','LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO','LStl','LBlk', 'LPF']]

winTeams['Win'] = 1
winTeams['Loss'] = 0

loseTeams[columns] = RegularDetail[['Season', 'DayNum', 'LTeamID', 'LScore','WTeamID','WScore','WLoc', 'NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA','LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'WFGM', 'WFGA','WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO','WStl','WBlk', 'WPF']]
def change_loc(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return 'N'
    
loseTeams['Loc'] = loseTeams['Loc'].apply(change_loc)    
    
loseTeams['Win'] = 0
loseTeams['Loss'] = 1    
    
winloseTeams = pd.concat([winTeams, loseTeams])
#The following line is modified from the original state so that we can extract teams. 
combinedTeams = winloseTeams.groupby(['Season','TeamID']).sum()
combinedTeams['NumGames'] = combinedTeams['Win'] + combinedTeams['Loss']


display(RegularDetail)
display(combinedTeams)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,98,1400,79,1242,76,H,0,28,67,...,13,15,23,5,24,10,15,3,5,21
100419,2022,98,1411,66,1126,63,A,0,24,59,...,21,15,24,5,23,10,19,13,2,23
100420,2022,98,1422,68,1441,49,A,0,23,56,...,24,8,11,10,18,5,16,8,2,12
100421,2022,98,1438,69,1181,68,A,0,31,65,...,17,18,22,11,25,14,14,3,9,11
100422,2022,98,1439,74,1338,47,H,0,29,55,...,20,7,9,0,18,11,11,3,6,14

               DayNum  Points  OppTeamID  OppPoints  NumOT  FGM   FGA  FGM3  \
Season TeamID
2003   1102      2029    1603      36930       1596      0  536  1114   219
       1103      2078    2127      33977       2110      8  733  1508   147
       1104      2032    1940      35914       1820      1  673  1601   178
       1105      2036    1866      33024       1993      4  634  1602   197
       1106      2072    1781      34867       1785      1  656  1548   171
...               ...     ...        ...        ...    ...  ...   ...   ...
2022   1468      1091    1332      25765       1418      1  501  1097   143
       1469      1017    1321      25288       1473      0  458  1111   123
       1470      1114    1332      27666       1396      1  475  1153   108
       1471      1110    1342      25114       1422      1  454  1048   162
       1472       944    1382      24866       1484      0  496  1140   204

               FGA3  FTM  ...  OppOR  OppDR  OppAst  OppTO  OppStl  OppBlk  \
Season TeamID             ...
2003   1102     583  312  ...    269    564     256    363     152      44
       1103     434  514  ...    325    595     418    414     173      77
       1104     556  416  ...    305    634     327    388     155      89
       1105     540  401  ...    343    686     411    489     244     109
       1106     494  298  ...    317    626     330    422     246      89
...             ...  ...  ...    ...    ...     ...    ...     ...     ...
2022   1468     442  187  ...    178    461     275    225     113      46
       1469     411  282  ...    169    498     289    237     146      78
       1470     350  274  ...    182    511     288    332      91     119
       1471     474  272  ...    170    497     257    238     137      52
       1472     571  186  ...    143    498     263    202      75      69

               OppPF  Win  Loss  NumGames
Season TeamID
2003   1102      514   12    16        28
       1103      606   13    14        27
       1104      539   17    11        28
       1105      496    7    19        26
       1106      452   13    15        28
...              ...  ...   ...       ...
2022   1468      318    9    11        20
       1469      389    7    12        19
       1470      366    8    13        21
       1471      353    8    12        20
       1472      290    5    14        19

[6892 rows x 34 columns]

Leaving additional space here for further imports and data manipulation as this project continues on.

Select a team by ID# & Charts will be created.

In [4]:
teamID = 1234

In [9]:
regSeasonGames = winloseTeams[winloseTeams["TeamID"] == teamID]

regSeasonGames = regSeasonGames.sort_values(by=['Season','DayNum'])
regSeasonGames 

seasonSummary = regSeasonGames.groupby(['Season']).sum()
seasonSumary = seasonSummary.pop('TeamID')
seasonSumary = seasonSummary.pop('OppTeamID')
seasonSumary = seasonSummary.pop('DayNum')

display(regSeasonGames)
display(seasonSummary)

,Season,DayNum,TeamID,Points,OppTeamID,OppPoints,Loc,NumOT,FGM,FGA,...,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF,Win,Loss
181,2003,20,1234,79,1194,52,H,0,23,47,...,12,11,18,10,16,9,3,28,1,0
267,2003,22,1234,50,1179,49,A,0,19,54,...,7,12,24,11,17,3,1,15,1,0
396,2003,26,1234,84,1398,51,H,0,33,64,...,9,12,26,12,19,5,7,20,1,0
492,2003,28,1234,67,1199,80,A,0,25,55,...,11,10,15,16,11,15,1,17,0,1
638,2003,32,1234,65,1286,44,H,0,25,50,...,7,7,15,13,13,6,1,17,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99402,2022,79,1234,46,1353,48,A,0,17,61,...,13,10,35,13,14,7,10,15,0,1
99553,2022,82,1234,68,1336,51,H,0,22,54,...,13,7,21,10,14,4,1,18,1,0
99828,2022,87,1234,73,1345,83,H,0,24,64,...,22,6,26,21,13,7,2,17,0,1
100046,2022,91,1234,86,1336,90,A,2,27,77,...,24,14,38,12,11,6,2,23,0,1
100377,2022,97,1234,71,1278,59,H,0,29,65,...,9,8,27,9,9,4,4,9,1,0

,Points,OppPoints,NumOT,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,...,OppFTA,OppOR,OppDR,OppAst,OppTO,OppStl,OppBlk,OppPF,Win,Loss
Season,,,,,,,,,,,,,,,,,,,,,
2003,1947,1868,2,679,1516,134,467,455,634,317,...,443,311,611,411,388,206,106,572,15,13
2004,2002,1928,3,683,1491,162,441,474,711,303,...,557,326,647,429,390,205,95,617,16,12
2005,2343,2145,3,821,1772,205,541,496,720,355,...,624,384,731,445,488,222,98,628,21,11
2006,2191,1939,4,763,1770,185,552,480,680,363,...,493,369,768,412,488,248,98,625,25,8
2007,2121,2035,0,739,1684,195,540,448,602,344,...,552,373,684,432,468,187,100,573,17,14
2008,1794,1857,1,616,1455,222,640,340,524,280,...,496,310,664,400,368,242,76,555,13,19
2009,1927,1908,4,650,1469,258,709,369,496,250,...,503,305,638,384,355,171,84,540,15,17
2010,1937,2112,1,675,1629,239,753,348,503,317,...,505,293,726,439,349,214,109,524,10,22
2011,2084,2110,2,766,1743,146,465,406,601,371,...,489,340,705,466,445,215,106,551,11,20
2012,2374,2354,0,832,1847,185,501,525,733,372,...,598,357,769,479,454,187,104,619,17,16
2013,2322,2075,3,787,1865,173,577,575,792,429,...,586,389,758,377,429,236,133,655,21,12
2014,2624,2243,3,895,1926,187,530,647,883,439,...,656,351,713,410,431,207,111,703,20,12
2015,2221,1980,2,758,1776,181,545,524,703,401,...,522,354,718,378,400,195,115,581,21,11
2016,2421,2130,1,855,1898,255,667,456,634,369,...,479,375,773,419,407,165,92,607,21,10
2017,2559,2485,6,895,1997,274,738,495,707,384,...,560,405,835,546,465,241,112,633,18,14
2018,2630,2597,1,946,1975,252,672,486,699,391,...,579,338,754,537,365,232,97,646,14,19
2019,2584,2430,0,862,1894,267,739,593,801,341,...,569,343,801,524,434,220,90,680,22,11
2020,2410,2241,0,842,1868,244,703,482,643,355,...,507,338,757,478,384,192,115,590,20,11
2021,2429,2086,1,863,1840,283,733,420,589,295,...,422,299,691,462,322,155,88,126,21,8
2022,1809,1550,2,645,1421,185,547,334,438,233,...,363,200,543,302,295,113,50,405,15,7

TODO: Make plots.




Also make plots.

In [ ]:
sns.load